<a href="https://colab.research.google.com/github/Carlos-Armando/Hongos/blob/main/hongos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Carlos Armando De Jesus Cab

Tic 91

Clasificacion


Importar las  librerias

In [ ]:

import numpy as np
import pandas as pd
#librerias para crear graficos
import matplotlib.pyplot as plt
import seaborn as sns
#Asignar estilo a graficos de seaborns
sns.set_theme(style="darkgrid", palette="Spectral")

#libreria para convertir feautes a labels
from sklearn.preprocessing import OrdinalEncoder 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix


Cargar datos

In [ ]:
df= pd.read_csv('mushrooms.csv')

Mostrar forma del dataframe

In [ ]:
df.shape

(8124, 23)

Mostrar los primeros 5 registros

In [ ]:
df.head()

  class cap-shape cap-surface  ... spore-print-color population habitat
0     p         x           s  ...                 k          s       u
1     e         x           s  ...                 n          n       g
2     e         b           s  ...                 n          n       m
3     p         x           y  ...                 k          s       u
4     e         x           s  ...                 n          a       g

[5 rows x 23 columns]

Mostrar ultimos 5 registros

In [ ]:
df.tail()

     class cap-shape cap-surface  ... spore-print-color population habitat
8119     e         k           s  ...                 b          c       l
8120     e         x           s  ...                 b          v       l
8121     e         f           s  ...                 b          c       l
8122     p         k           y  ...                 w          v       l
8123     e         x           s  ...                 o          c       l

[5 rows x 23 columns]

Mostrar la información del dataframe

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   class                     8124 non-null   object
 1   cap-shape                 8124 non-null   object
 2   cap-surface               8124 non-null   object
 3   cap-color                 8124 non-null   object
 4   bruises                   8124 non-null   object
 5   odor                      8124 non-null   object
 6   gill-attachment           8124 non-null   object
 7   gill-spacing              8124 non-null   object
 8   gill-size                 8124 non-null   object
 9   gill-color                8124 non-null   object
 10  stalk-shape               8124 non-null   object
 11  stalk-root                8124 non-null   object
 12  stalk-surface-above-ring  8124 non-null   object
 13  stalk-surface-below-ring  8124 non-null   object
 14  stalk-color-above-ring    8124 non-null   object
 15  stalk-color-below-ring    8124 non-null   object
 16  veil-type                 8124 non-null   object
 17  veil-color                8124 non-null   object
 18  ring-number               8124 non-null   object
 19  ring-type                 8124 non-null   object
 20  spore-print-color         8124 non-null   object
 21  population                8124 non-null   object
 22  habitat                   8124 non-null   object
dtypes: object(23)
memory usage: 1.4+ MB

Limpieza de los datos

In [ ]:
Suma de los datos faltantes de cada columna

In [ ]:
df.isnull().sum()

class                       0
cap-shape                   0
cap-surface                 0
cap-color                   0
bruises                     0
odor                        0
gill-attachment             0
gill-spacing                0
gill-size                   0
gill-color                  0
stalk-shape                 0
stalk-root                  0
stalk-surface-above-ring    0
stalk-surface-below-ring    0
stalk-color-above-ring      0
stalk-color-below-ring      0
veil-type                   0
veil-color                  0
ring-number                 0
ring-type                   0
spore-print-color           0
population                  0
habitat                     0
dtype: int64

Verificar que no se dupliquen los datos

In [ ]:
df.duplicated().sum()

0

Clasificación de Hongos

Conocer valores unicos de las columnas.

In [ ]:
def uniqueData(dataframe, col):
  # Obtener todos los valores unicos en la columna
  lista_unica = df[col].unique()

  # Ordenar alfabeticamente y mostrar datos
  lista_unica.sort()
  print("Columna: ", col)
  print("No. columnas unicas: ", lista_unica.size)
  print("Valores unicos: ", lista_unica)

Mostrar valores unicos de cada columna

Columnas a categorias

Convertir columnas como tipo categorico

In [ ]:
columns = df.columns
df[columns] = df[columns].astype('category')

Verificar cambios

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   class                     8124 non-null   category
 1   cap-shape                 8124 non-null   category
 2   cap-surface               8124 non-null   category
 3   cap-color                 8124 non-null   category
 4   bruises                   8124 non-null   category
 5   odor                      8124 non-null   category
 6   gill-attachment           8124 non-null   category
 7   gill-spacing              8124 non-null   category
 8   gill-size                 8124 non-null   category
 9   gill-color                8124 non-null   category
 10  stalk-shape               8124 non-null   category
 11  stalk-root                8124 non-null   category
 12  stalk-surface-above-ring  8124 non-null   category
 13  stalk-surface-below-ring  8124 non-null   category
 14  stalk-color-above-ring    8124 non-null   category
 15  stalk-color-below-ring    8124 non-null   category
 16  veil-type                 8124 non-null   category
 17  veil-color                8124 non-null   category
 18  ring-number               8124 non-null   category
 19  ring-type                 8124 non-null   category
 20  spore-print-color         8124 non-null   category
 21  population                8124 non-null   category
 22  habitat                   8124 non-null   category
dtypes: category(23)
memory usage: 187.6 KB

Preparar categorias

Transformar columnas categoricas a numericas

In [ ]:
encoder = OrdinalEncoder()
encoder.fit(df[columns])
df[columns] = encoder.transform(df[columns])

Verificar cambios

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   class                     8124 non-null   float64
 1   cap-shape                 8124 non-null   float64
 2   cap-surface               8124 non-null   float64
 3   cap-color                 8124 non-null   float64
 4   bruises                   8124 non-null   float64
 5   odor                      8124 non-null   float64
 6   gill-attachment           8124 non-null   float64
 7   gill-spacing              8124 non-null   float64
 8   gill-size                 8124 non-null   float64
 9   gill-color                8124 non-null   float64
 10  stalk-shape               8124 non-null   float64
 11  stalk-root                8124 non-null   float64
 12  stalk-surface-above-ring  8124 non-null   float64
 13  stalk-surface-below-ring  8124 non-null   float64
 14  stalk-color-above-ring    8124 non-null   float64
 15  stalk-color-below-ring    8124 non-null   float64
 16  veil-type                 8124 non-null   float64
 17  veil-color                8124 non-null   float64
 18  ring-number               8124 non-null   float64
 19  ring-type                 8124 non-null   float64
 20  spore-print-color         8124 non-null   float64
 21  population                8124 non-null   float64
 22  habitat                   8124 non-null   float64
dtypes: float64(23)
memory usage: 1.4 MB

Primeros 5 registros

In [ ]:
df.head()

   class  cap-shape  cap-surface  ...  spore-print-color  population  habitat
0    1.0        5.0          2.0  ...                2.0         3.0      5.0
1    0.0        5.0          2.0  ...                3.0         2.0      1.0
2    0.0        0.0          2.0  ...                3.0         2.0      3.0
3    1.0        5.0          3.0  ...                2.0         3.0      5.0
4    0.0        5.0          2.0  ...                3.0         0.0      1.0

[5 rows x 23 columns]

Mostrar valores unicos de cada columna

In [ ]:
i = 0
for i in (df):
  uniqueData(df, i)

Columna:  class
No. columnas unicas:  2
Valores unicos:  [0. 1.]
Columna:  cap-shape
No. columnas unicas:  6
Valores unicos:  [0. 1. 2. 3. 4. 5.]
Columna:  cap-surface
No. columnas unicas:  4
Valores unicos:  [0. 1. 2. 3.]
Columna:  cap-color
No. columnas unicas:  10
Valores unicos:  [0. 1. 2. 3. 4. 5. 6. 7. 8. 9.]
Columna:  bruises
No. columnas unicas:  2
Valores unicos:  [0. 1.]
Columna:  odor
No. columnas unicas:  9
Valores unicos:  [0. 1. 2. 3. 4. 5. 6. 7. 8.]
Columna:  gill-attachment
No. columnas unicas:  2
Valores unicos:  [0. 1.]
Columna:  gill-spacing
No. columnas unicas:  2
Valores unicos:  [0. 1.]
Columna:  gill-size
No. columnas unicas:  2
Valores unicos:  [0. 1.]
Columna:  gill-color
No. columnas unicas:  12
Valores unicos:  [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11.]
Columna:  stalk-shape
No. columnas unicas:  2
Valores unicos:  [0. 1.]
Columna:  stalk-root
No. columnas unicas:  5
Valores unicos:  [0. 1. 2. 3. 4.]
Columna:  stalk-surface-above-ring
No. columnas unicas:  4
Valores unicos:  [0. 1. 2. 3.]
Columna:  stalk-surface-below-ring
No. columnas unicas:  4
Valores unicos:  [0. 1. 2. 3.]
Columna:  stalk-color-above-ring
No. columnas unicas:  9
Valores unicos:  [0. 1. 2. 3. 4. 5. 6. 7. 8.]
Columna:  stalk-color-below-ring
No. columnas unicas:  9
Valores unicos:  [0. 1. 2. 3. 4. 5. 6. 7. 8.]
Columna:  veil-type
No. columnas unicas:  1
Valores unicos:  [0.]
Columna:  veil-color
No. columnas unicas:  4
Valores unicos:  [0. 1. 2. 3.]
Columna:  ring-number
No. columnas unicas:  3
Valores unicos:  [0. 1. 2.]
Columna:  ring-type
No. columnas unicas:  5
Valores unicos:  [0. 1. 2. 3. 4.]
Columna:  spore-print-color
No. columnas unicas:  9
Valores unicos:  [0. 1. 2. 3. 4. 5. 6. 7. 8.]
Columna:  population
No. columnas unicas:  6
Valores unicos:  [0. 1. 2. 3. 4. 5.]
Columna:  habitat
No. columnas unicas:  7
Valores unicos:  [0. 1. 2. 3. 4. 5. 6.]

Valores estadisticos

 Mostrar los valores estadisticos de cada columna

In [ ]:
df.describe()

             class    cap-shape  ...   population      habitat
count  8124.000000  8124.000000  ...  8124.000000  8124.000000
mean      0.482029     3.348104  ...     3.644018     1.508616
std       0.499708     1.604329  ...     1.252082     1.719975
min       0.000000     0.000000  ...     0.000000     0.000000
25%       0.000000     2.000000  ...     3.000000     0.000000
50%       0.000000     3.000000  ...     4.000000     1.000000
75%       1.000000     5.000000  ...     4.000000     2.000000
max       1.000000     5.000000  ...     5.000000     6.000000

[8 rows x 23 columns]